 <section class="cp-advertising-section pd-tb80">
        <div class="container">
            <div class="cp-heading-style2">
                <h3 class="whitecolor">Payment
                    <span>Options</span>
                </h3>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-md-4 col-sm-12">

                    <div class="cp-advertising-box">
                        <figure class="thumb">
                            <img src="images/payment.png" alt="">
                            <span class="num">1</span>
                        </figure>
                        <div class="cp-text ">
                            <h4>Card Payment</h4>
                            <p style="color: #fff;"> We accept instant payment using master card </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">

                    <div class="cp-advertising-box">
                        <figure class="thumb">
                            <img src="images/ussd.png" alt="">
                            <span class="num">2</span>
                        </figure>
                        <div class="cp-text">
                            <h4>USSD</h4>
                            <p style="color: #fff;">For easy payment we accept USSD mode of payment</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">

                    <div class="cp-advertising-box">
                        <figure class="thumb">
                            <img src="images/online-banking.png" alt="">
                            <span class="num">3</span>
                        </figure>
                        <div class="cp-text">
                            <h4>Online Banking</h4>
                            <p style="color: #fff;">One of the most common card Visa</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    </div>

    <footer class="cp_footer">
        <section class="cp-ft-bottom-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-12 mb-2">

                        <div class="cp-ft-form-box">

                            


                        </div>
                    </div>


                    <div class="footer-link col-md-2 col-sm-6 col-6">
                        <div class="row">


                            <ul class="sitemap">
                                <h6 class="title footer">Useful Links</h6>
                                <li class="li">
                                    <a href="/" style="color:rgb(38, 36, 44)">Home</a>
                                </li>
                                <li class="li">
                                    <a href="/about" style="color:rgb(38, 36, 44)">About</a>
                                </li>
                                <li class="li">
                                    <a href="/service" style="color:rgb(38, 36, 44)">Services</a>
                                </li>
                                <li class="li">
                                    <a href="/faq" style="color:rgb(38, 36, 44)">FAQ</a>
                                </li>
                             
                                <li class="li">
                                    <a href="/contact" style="color:rgb(38, 36, 44)">Contact</a>
                                </li>
                                <li class="li">
                                    <a href="/term" style="color:rgb(38, 36, 44)">Terms & Conditions</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 footer-link">
                        <div class="row">


                            <ul class="sitemap">
                                <h6 class="title">Social</h6>
                                <li class="li">
                                    <a href="https://www.facebook.com/" style="color:rgb(38, 36, 44)">
                                        <span style="color:#405D9B" class="fab fa-facebook-f fa-xs"></span>&nbsp; Facebook</a>
                                </li>
                                <li class="li">
                                    <a href="https://twitter.com/" style="color:rgb(38, 36, 44)">
                                        <span style="color:#5475B8" class="fab fa-twitter fa-xs"></span>&nbsp; Twitter</a>
                                </li>
                                <li class="li">
                                    <a href="https://www.instagram.com/" style="color:rgb(38, 36, 44)">
                                        <span style="color:#405D9B" class="fab fa-instagram fa-xs"></span>&nbsp; Instagram</a>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">

                        <h6 class="title">Contact Us</h6>
                        <ul>
                            <li class="li">
                                <a href="#" style="color:rgb(36, 37, 44)">
                                    <span style="color:rgb(90, 144, 231)" class="far fa-clock"></span>&nbsp; Time 05:00 AM - 09:00 PM</a>
                            </li>
                            <li class="li">
                                <a href="tel:+2348174594910" style="color:rgb(38, 36, 44)">
                                    <span style="color:rgb(90, 144, 231)" class="fas fa-phone"></span>&nbsp; Phone (+234) 643-733-24</a>
                            </li>
              
                            <li class="li">
                                <a href="mailto:feedback@guotransport.com" style="color:rgb(38, 36, 44)">
                                    <span style="color:rgb(90, 144, 231)" class="fa fa-envelope"></span>&nbsp; Email feedback@rogoshop.com</a>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="clearfix">&nbsp</div>
                <div class="row border-top margin-top">
                    <div class="col-md-8">
                        <p class="text-left">
                            <br/> &copy; Copyright ROGO SHOP
                    </div>
                    </p>
                </div>

            </div>
        </section>
    </footer>
